
footer{
    background: #002341 ;
    /* background: #c1d5e5 ; */
    color: #aaa;
    font-size: 0.9em
}

.newsletter-form{
  max-width: 568px;
}

.socials{
  gap: 1em;
  font-size: 1.2em;
}
   
.copyright p{
  margin: 0;
}

@media screen and (max-width: 567px){
  footer{
    font-size: 0.8em;
  }
}