header{
  border-bottom: 2px solid #ff3c00;
}
.header-nav {
  position: sticky; /* Keeps the header fixed at the top */
  top: 0;
  width: 100%;
  z-index: 1000;
  transform: translateY(0); /* Default: visible */
  transition: transform 0.3s ease; /* Smooth transition */
  background: aliceblue;
}

.hidden {
  transform: translateY(-100%); /* Moves header up out of view */
}


/* Nav button for mobile view */

.nav-btn{
  gap: 5px;
}
  
.nav-btn-item{
  width: 20px;
  height: 2px;
  background : #555;
}
  

/* Company logo */

.company-title{
  padding: 0;
  gap: 0;
}

.company-logo{
  width: 40px;
}

.company-name{
  color: #ff3c00;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
  
.company-slogan{
  font-family: "Quicksand", sans-serif;
  font-size: 0.8em;
  font-style: italic;
  margin-top: -5px;
  color: #ff7b00;
  
}

.nav-content{
  gap: 1.3em;
}

.user-action{
  gap: 0.2em;
}
  
  .user-action button{
    border: none;
    background: none;
  }
  .user-action i{
    font-size: 1.5em;
    color: #ff7b00;
  }
  .nav-content a{
    text-decoration: none ;
  }
  .nav-content-container.open{
    position : fixed;
    display : block !important;
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    z-index: 5000;
    transition: width 2s;
  }
  
  
  .open .nav-content{
    display: block !important;
    /* position: absolute ;
    top: 20px;
    left: 50%;
    transform: translateX(-50%); */
    margin: 50px 20px;
    
  }
  
  .open .nav-content li{
    margin-bottom: 12px;
  }
  
  .nav-content li a{
    color: #ff3c00cb;
  }
  
  .close-nav{
    font-size: 1.5em;
  }
  .open .close-nav{
    /* position : absolute;
    top: 15px;
    right: 12px; */
    
    
  }
  
  .offcanvas-header{
    background: #f5f5f5;
    display: none;
  }
  .open .offcanvas-header {
    display: flex;
  }
  
  .open .auth-btns{
    display: block !important ;
  }
  

  .modal-title{
    color: darkorange;
  }

  .reg-btn{
    color: #fff;
    background-color: #ff8c00;

  }
  #sign-up-form label,
  #sign-in-form label{

  }

  @media screen and (min-width: 992px){
  }