
.hero{
  height: 70vh;
  max-height: 800px;
  position: relative;
}

.hero::before{
  content: "";
  position: absolute ;
  top: 0;
  left: 0;
  background:#0000006f;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.hero-img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.hero-text{
  font-family: "Open Sans", sans-serif;
  position: absolute ;
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
  z-index: 3;
  width: 100%;
  margin: auto;
  max-width: 780px;
}

.hero-text p{
  color: white;
  line-height: 1.3;
  /* word-spacing: 8px; */
}

.hero-caption{
  color: #ffa500;
}

.hero-caption-title{
  background: linear-gradient(45deg, #ff3c00, #ffa500, #1dd41d); /* Gradient colors */
  -webkit-background-clip: text; /* Clips background to the text */
  background-clip: text; /* Clips background to the text */
  -webkit-text-fill-color: transparent; /* Makes the text color transparent to show the gradient */
}

#about-us img{
  border-radius: 12px;
}
.about-content{
  font-size: 1.2em;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;;
}

.services{
  /* background-color: #eec26f; */
}

.chests-container{
  gap: 2rem;
  overflow-x: scroll;
  flex-wrap: nowrap;
}

.chests{
  padding: 2rem;
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
  box-sizing: content-box;
  text-align: center;
  position: relative;
  border: 2px solid;
  border-radius: 10px;



  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(45deg,  #2bff00, #054be2);
  border-image: linear-gradient(45deg, #2bff00, #054be2) 1; */
}

.chests:nth-child(1){
  background: linear-gradient(135deg, #2bff00, #054be2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(135deg, #2bff00, #054be2) 1;
}

.chests:nth-child(2){
  background: linear-gradient(45deg, #054be2, #e2cc05);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(45deg, #054be2, #e2cc05) 1;
}

.chests:nth-child(3){
  background: linear-gradient(135deg, #e2cc05, #ff3c00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(135deg, #e2cc05, #ff3c00) 1;
}

.chests:nth-child(4){
  background: linear-gradient(45deg, #ff3c00, #48ff00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(45deg, #ff3c00, #48ff00) 1;
}

.chests:nth-child(5){
  background: linear-gradient(135deg, #48ff00, #00c3ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(135deg, #48ff00, #00c3ff) 1;
}

.chests:nth-child(6){
  background: linear-gradient(45deg, #00c3ff, #ffa600);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image: linear-gradient(45deg, #00c3ff, #ffa600) 1;
}

.chests-icon{
  position: absolute;
  top: -50px;
  left: 0;
  z-index: 5;
  color: #1dd41d;
}

h3{
  color: #f88808;
  font-family: "Quicksand", sans-serif;
}

.acad-intro{
  color: #888;
}
.shopping-container{
  position: relative;
  height: 400px;
}

.shopping-container::before{
  content: "";
  position: absolute ;
  top: 0;
  left: 0;
  background:#0000006f;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.shopping-bg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shopping-text{
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  max-width: 560px;
  text-align: center;
}